body {
  background-color: rgba(263, 243, 200, 1)
}

.receipt {
  background-color: rgb(231, 230, 230);
  height: auto;
}

.border-btm {
  border-bottom: solid 4px;
  border-color: rgba(203, 203, 203, 1);
}

.cursive {
  font-family: 'Satisfy', cursive;;
  color: rgba(218, 173, 106, 1);
}

.blue {
  color: rgba(18, 160, 223, 1);
}

.myImg {
  display: block;
  width: 100%;
  height: auto;
}

.hoverable:hover {
  cursor: pointer;
}

.cart {
  border: 1px solid white;
}

.col-height {
  height: 120%;
}